[submit]
	action = rebase if necessary
[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	create = group klimt
	push = group klimt
	label-Code-Review = -2..+2 group klimt
	label-Verified = -1..+1 group klimt
	rebase = group klimt
	submit = group klimt
	forgeAuthor = group klimt
	forgeCommitter = group klimt
